<section class="mt-36 w-full md:mt-48 flex flex-col items-center gap-10 lg:gap-32">
    <div class="p-2">
        <p class="text-center  font-bold text-zinc-600 dark:text-zinc-400">{{"Get To Know More"|translate}}</p>
      <h2 class="text-5xl md:text-6xl mt-8 text-center font-bold ">{{'About Me'|translate}}</h2>

    </div>


    <!-- ====================== -->
     <div class="parent flex flex-col lg:flex-row justify-center gap-11 items-center">

        <img class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 rounded-lg w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/6" src="../../../assets/imageAbout.JPEG" alt="">

<!-- ====================== -->
        <!-- exp && education -->
<div  class="flex  lg:w-1/2 flex-col justify-center items-center md:p-5 gap-4">

<div class="flex flex-col md:flex-row gap-7 justify-center items-center p-3 ">
<!-- exp -->
<div class="w-full md:w-1/2 border p-9 rounded-2xl flex justify-center items-center gap-2 flex-col">
<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path d="m6 10.5237-2.27075.6386C3.29797 11.2836 3 11.677 3 12.125V20c0 .5523.44772 1 1 1h2V10.5237Z"/>
  <path fill-rule="evenodd" d="M12.5547 3.16795c-.3359-.22393-.7735-.22393-1.1094 0l-6.00002 4c-.45952.30635-.5837.92722-.27735 1.38675.30636.45953.92723.5837 1.38675.27735L8 7.86853V21h8V7.86853l1.4453.96352c.0143.00957.0289.01873.0435.02746.1597.09514.3364.14076.5112.1406.3228-.0003.6395-.15664.832-.44541.3064-.45953.1822-1.0804-.2773-1.38675l-6-4ZM10 12c0-.5523.4477-1 1-1h2c.5523 0 1 .4477 1 1s-.4477 1-1 1h-2c-.5523 0-1-.4477-1-1Zm1-4c-.5523 0-1 .44772-1 1s.4477 1 1 1h2c.5523 0 1-.44772 1-1s-.4477-1-1-1h-2Zm8 12c0-.5523.4477-1 1-1h.01c.5523 0 1 .4477 1 1s-.4477 1-1 1H20c-.5523 0-1-.4477-1-1Zm1-8c.5523 0 1 .4477 1 1v4c0 .5523-.4477 1-1 1s-1-.4477-1-1v-4c0-.5523.4477-1 1-1Z" clip-rule="evenodd"/>
</svg>
 <p class="text-center  font-bold  ">{{"Experience"|translate}}</p>
 <p class="text-zinc-600 dark:text-zinc-400">{{'years of self-learning'|translate}}</p>
 <p class="text-zinc-600 dark:text-zinc-400">{{'frontend development'|translate}}</p>



</div>

<!-- eduction -->
 <div class=" w-full md:w-1/2 border p-9 rounded-2xl flex justify-center items-center gap-2 flex-col">
<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd"/>
</svg>

 <p class="text-center  font-bold  ">{{"Education"|translate}}</p>
 <p class="text-zinc-600 md:whitespace-nowrap dark:text-zinc-400">{{'Industrial Diploma, Electrical Studies'|translate}}</p>



</div>



</div>

<p class="p-3 md:p-0">
{{"Hello sir my name is Mohamed saad I am 22 years old from Tanta and exempted from military service I have been self-learning frontend development with Angular since 2023 During this time I built several projects solved different bugs and learned a lot from these experiences I also use AI tools to help me fix issues and speed up the development process I am now ready to join a team and contribute to a company as a frontend developer"|translate}}
</p>

<p class="font-bold p-2 md:p-0">{{"Thank you sir for taking the time to read my profile"|translate}}</p>

</div>
<!-- =========== -->

     </div>

</section>
