/* .bg-flag-us {
    background-image: url('../../../assets/united-states.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.bg-flag-eg {
    background-image: url('../../../assets/egypt.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
} */

span{
height: 1px;
}